# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Builds & Uploads
builds/
uploads/

# Android / Gradle caches
.gradle/
build/
local.properties
*.apk
*.aab

# Keystores & Signing
*.jks
*.keystore

# OS
.DS_Store
Thumbs.db